:root {
    --primary-color: #fff;
    --secondary-color: #1a0c0c;
    --background: rgb(56, 56, 56);
    color: #fff;
}

header {
    padding: 1em;
}


.landing {
    background-image: url(https://picsum.photos/id/999/1920/1080/?blur);
    width: 100%;
    height: 720px;
    background-size: cover;
}

.about {
    background-image: url(https://picsum.photos/id/916/1920/1080/?blur);
    width: 100%;
    height: 720px;
    background-size: cover;
}

.projects {
    background-image: url(https://picsum.photos/id/980/1920/1080/?blur);
    width: 100%;
    height: 720px;
    background-size: cover;
}

.contact {
    background-image: url(https://picsum.photos/id/921/1920/1080/?blur);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.padding {
    padding-top: 150px;
}

.landpadding {
    padding-top: 300px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.headshot{
    border-radius: 50%;
}

.projectspadding {
    padding-top: 50px;
}

